*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url(/assets/images/banner-bk.jpg);
    background-repeat: no-repeat;    
    overflow: hidden; 
    color: white;      
}

.section1_header__navHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navHeader__logo{
    height: 30px;
}
.navHeader__link{
    color: white; 
    text-decoration: none;
}

.section2_header{   
    padding: 5rem;
}

.section2_header__Title{
    display: flex;
    flex-direction: column;

}
.section2_header__paragraph{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.section2_header__div{
    background-color: green;
    width: 8rem;
    height: 3rem;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2_header__link{
    color: white;
    text-decoration: none;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;   
}
.main_section1{
    padding: 5%;
}
.main_section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_section2__article{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}
.main_section2__article__paragraph{
    text-align: center;
}

.main_section3{
    display: flex;
    justify-content: start;
    align-items: center;    
}
.main_section3__article1{
    padding: 5rem;
}

.main_section3__paragraph{
    padding: 1rem;
}

.main_section3__article1__div{
    background-color: #222d47;
    width: 8rem;
    height: 3rem;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_section3__article__img{
    height: 15rem;
}

.section5{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.section6{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 25rem;
}

.section6__article{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    flex-grow: 1;
    flex-basis: 0;
}

.section6__article--midle{
    background-color: rgb(25, 36, 64);
    color: white;
}

.div_value{
    display: flex; 
    align-items: end;       
}

.div_value__p{
    padding: 10%;
    font-weight: bold;
}

.div_value__p--midle{
    font-size: 50px;   
}

.article__btn{
    width: 6rem;
    height: 2rem;
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    margin-top: 2rem;
    font-weight: bold;
}

.article__btn--midle{
    background-color: rgb(0, 255, 173);
}

.section7{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
    height: 10rem;
    background-color: rgb(236, 238, 239);
}

.section7__img{
    padding: 10px;
}


footer{
    background: url(/assets/images/contact-bk.jpg);
    background-repeat: no-repeat;    
    overflow: hidden; 
    color: white; 
}

/*  footer*/

.section_contact {
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}

.section_contact__article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    flex-grow: 1;
    flex-basis: 0;
    height: 200px;
}

.copy {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.icon-footer > a {
    font-size: 1.5rem;
    margin: 0.5rem;
}
  
  
  