*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: url(/assets/images/banner-bk.jpg);
    background-repeat: no-repeat;    
    overflow: hidden; 
    color: white;      
}

.section1_header__navHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navHeader__logo{
    height: 50px;
}
.navHeader__link{
    color: white; 
    text-decoration: none;
}

.section2_header{   
    padding: 5rem;
}

.section2_header__Title{
    display: flex;
    flex-direction: column;

}
.section2_header__paragraph{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}
.section2_header__div{
    background-color: green;
    width: 8rem;
    height: 3rem;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2_header__link{
    color: white;
    text-decoration: none;
    background-color: green;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.main_section1{
    padding: 5%;
}
.main_section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_section2__article{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 2rem;
}